<template lang="">
<Auth>
  <div>
      <h1>Product view</h1>
  </div>
  </Auth>
</template>
<script>
import Auth from '../components/AuthComponent.vue'
export default {
  components: {
    Auth
  }
}
</script>
<style lang=""></style>
